<%= form_for(@workpoint) do |f| %>
  <% if @workpoint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workpoint.errors.count, "error") %> prohibited this workpoint from being saved:</h2>

      <ul>
      <% @workpoint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
